
body {
  background-color: lavender;
}

header {
text-align: center;
}

h1 {
display: inline-block;
font-size:3em;
border: 5px solid;
padding: 10px;
background-color: rgb(11, 158, 243);
}

h3 {
font-size:2em;
display: inline-block;
border: 5px solid;
padding: 10px;
margin-bottom:25px;
background-color: rgba(241, 241, 238, 0.986);
}

section {
  background-color: bisque;
  width: max-content;
  margin: auto;
}

section img {
  width: 300px;
  margin: 50px;
}

img:hover{
  cursor: pointer;
}

img {
  width: 400px;
  height: 300px;
}

div {
  background-color: green;
  padding: 5px;
  width: max-content;
  text-align: center;
  margin: auto;
  margin-top:25px;
  margin-bottom:25px;
}

div:hover{
  cursor: pointer;
}

canvas {
  border: 1px solid;
  margin: 25px;
  padding: 10px;
  width: 900px;
  height: 450px;
}